<!DOCTYPE html>
<html lang="ru">
  <%
    page = {
      title: '', // Если пустое значение будет использовано значение site.title
      permalink: '', //Важно! Если не верно указать относительный путь к странице - будет ошибка подгрузки частей шаблона.
      header_title: 'Трансформируй мышление. Меняй реальность',
      header_subtitle: 'Master Kit&nbsp;&mdash; методика саморегуляции, позволяющая прорабатывать негативные установки, которые мешают жить',
      video: '', // При пустом значении блок _header_utp отобразится с центрированием текстового содержимого
      problems_title: 'Ты&nbsp;хочешь полностью себя обеспечивать и&nbsp;быть независимым?',
      problems_subtitle: 'Мечтаешь о&nbsp;финансовой стабильности, но&nbsp;не&nbsp;хотел&nbsp;бы загонять себя в&nbsp;кабалу восьмичасового офисного рабства',
    solutions_title: 'Измени свои установки и&nbsp;твоё мышление будет работать на&nbsp;тебя',
    solutions_subtitle: 'С&nbsp;Master Kit ты&nbsp;получаешь не&nbsp;приложение с&nbsp;мотивационными лозунгами, а&nbsp;систему трансформации мышления',
        solutions_title2: 'Стань одним из&nbsp;тех, кому всё дается легко',
    solutions_subtitle2: 'С&nbsp;Super Ego ты&nbsp;обретешь финансовую независимость и&nbsp;полную уверенность в&nbsp;завтрашнем дне',
    solutions_title3: 'Super Ego — партнерство, которое меняет жизнь',
    solutions_subtitle3: '',
      author_descr: 'Специалист по&nbsp;переговорам и&nbsp;техникам убеждения, тренер-практик',        
      solutions_title4: 'Super Ego&nbsp;&mdash; компания, разработавшая Master Kit&nbsp;&mdash; приложение, которое меняет сознание',
    solutions_subtitle4: '',
      author_descr: 'Специалист по&nbsp;переговорам и&nbsp;техникам убеждения, тренер-практик',
      meta: {
        keywords: '',
        description: '', // Если пустое значение будет использовано значение client.description
        image: ''
      },
      slick_slider: true // Добавлять ли на страницу скрипт и стили слайдера Slick (необходим для блоков Дипломы, Благодарности)
    };

    //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
    page_nesting_level = (page.permalink.match(/\//g) || []).length;
    if (page.permalink !== '/') { 
      subfolder = '../';
      if (page_nesting_level > 2) {
        subfolder = subfolder.repeat(page_nesting_level - 1);
      }
    } else { subfolder = '' } 
  %>
  <%- include(subfolder + 'template-parts/_head.ejs') %>
  <body class="<%= site.template %>">
    <div id="wrapper">
      <header class="header large">

        <%- include(subfolder + 'template-parts/_header_descr.ejs', {
          header_description: client.name5 + '&nbsp;&mdash; ' + client.description5
        }) %>

        <%- include(subfolder + 'template-parts/_header_utp.ejs', {
          utp_button: {
            lable: ' Обсудить сотрудничество', // Если пустое значение будет использовано значение page.title либо site.title
            type: 'price', // Варианты значений: modal, price, m.me, other
            href: '' // Будет использовано при type: 'other' 
          }
        });  %>

        <%- include(subfolder + 'template-parts/_header_bullets.ejs', {
          bullets_list: client.bullets3
        });  %>
        
        <div class="header__next"><a href="#problems">&darr;</a></div>
      </header>
      <%- include(subfolder + 'template-parts/_problems.ejs', {
        problems: {
          list: client.problems_list3,
          image: '/images/template/target/' + site.target + '/problems.png',
        }
      });  %>
      <%- include(subfolder + 'template-parts/_solutions2.ejs', {
        solutions: {
          list: client.solutions_list6,
          image: '/images/template/target/' + site.target + '/solutions.jpg',
        }
      });  %>        
       <%- include(subfolder + 'template-parts/_solutions3.ejs', {
        solutions: {
          list: client.solutions_list7,
          image: '/images/template/target/' + site.target + '/solutions.jpg',
        }
      });  %>    
          <%- include(subfolder + 'template-parts/_calltoact.ejs', {
        cta: {
          title: 'Master Kit — программа, в которой пользователи меняют свою реальность',
          descr: 'Это приложение, помогающее отслеживать и контролировать мысли, тянущие на дно',
          button: {
            lable: 'Установить приложение', // Если пустое значение будет использовано значение page.title либо site.title
            type: 'price', // Варианты значений: modal, price, m.me, other
            href: '' // Будет использовано при type: 'other' 
          }
        }
      }); %>    
       <%- include(subfolder + 'template-parts/_program.ejs', {
        program: {
            title:'Master Kit 1 уровень:',
            list: client.program
        }
      });  %>    
             <%- include(subfolder + 'template-parts/_program.ejs', {
        program: {
            title:'Master Kit 2 уровень:',
            list: client.program2
        }
      });  %>             
       <%- include(subfolder + 'template-parts/_program.ejs', {
        program: {
            title:'Master Kit 3 уровень:',
            list: client.program3
        }
      });  %>        <%- include(subfolder + 'template-parts/_program.ejs', {
        program: {
            title:'Master Kit 4 уровень:',
            list: client.program4
        }
      });  %> 
       <%- include(subfolder + 'template-parts/_program.ejs', {
        program: {
            title:'Master Kit 5 уровень:',
            list: client.program5
        }
      });  %>  
 



      <%- include(subfolder + 'template-parts/_price.ejs', {
        price: {
          title: 'Присоединяйся к&nbsp;системе, которая меняет жизнь к&nbsp;лучшему',
          descr: 'Тысячи людей уже достигли своих целей при помощи Master Kit и&nbsp;теперь рекомендуют его своим друзьям', 
          items: client.price_items2
        }
      });  %>

                   <%- include(subfolder + 'template-parts/_solutions4.ejs', {
        solutions: {
          list: client.solutions_list8,
          image: '/images/template/target/' + site.target + '/solutions.jpg',
        }
      });  %> 

    <%- include(subfolder + 'template-parts/_video.ejs', {
        video: {
         title: 'Видеоотзывы',
            videos: [
              'AHrl09cPWhk', //YouTube Video ID
              'FEPMuGzFsAE'
            ]
        }
      });  %>
      
      <%- include(subfolder + 'template-parts/_review.ejs', {
        reviews: {
          title: 'Отзывы',
          default_picture: 'quote', // варианты значения: quote, quote2 (это изображения из папки /images/template/{{ site.template }} )
          items: client.reviews
        }
      });  %>

      <%- include(subfolder + 'template-parts/_calltoact.ejs', {
        cta: {
          title: 'Научись мечтать. Научись воплощать!',
          descr: '',
          button: {
            lable: 'Установить приложение', // Если пустое значение будет использовано значение page.title либо site.title
            type: 'price', // Варианты значений: modal, price, m.me, other
            href: '' // Будет использовано при type: 'other' 
          }
        }
      }); %>

      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form
      }); %>

      <div class="container">
        <hr  style="margin-top: 0;">
      </div>
        
      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form1
      }); %>


      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form2
      }); %>


      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form3
      }); %>
      <%- include(subfolder + 'template-parts/_footer.ejs') %>
    </div>
    <%- include(subfolder + 'template-parts/_scripts.ejs') %>
  </body>
</html>