<!DOCTYPE html>
<html lang="ru">
    <%
    page = {
      title: 'Бесплатный вебинар «19 секретных кодов новой реальности»',
      permalink: '/ok/', //Важно! Если не верно указать относительный путь к странице - будет ошибка подгрузки частей шаблона.
      meta: {
        keywords: '',
        description: '', // Если пустое значение будет использовано значение client.description
        image: 'images/social/social_photo.jpg'
      },
      slick_slider: false // Добавлять ли на страницу скрипт и стили слайдера Slick (необходим для блоков Дипломы, Благодарности)
    };

    //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
    page_nesting_level = (page.permalink.match(/\//g) || []).length;
    if (page.permalink !== '/') { 
      subfolder = '../';
      if (page_nesting_level > 2) {
        subfolder = subfolder.repeat(page_nesting_level - 1);
      }
    } else { subfolder = '' }
  %>
  <%- include(subfolder + 'template-parts/_head.ejs') %>
  <body class="<%= site.template %>">
    <div id="wrapper" class="page">
      <header class="header">
              <%- include(subfolder + 'template-parts/_header_descr.ejs', {
          header_description: client.name + '&nbsp;&mdash; ' + client.description
        }) %>
        <%- include(subfolder + 'template-parts/_header_descr.ejs', {
          header_description: client.name2 + '&nbsp;&mdash; ' + client.description2
        }) %>        
        <%- include(subfolder + 'template-parts/_header_descr.ejs', {
          header_description: client.name3 + '&nbsp;&mdash; ' + client.description3
        }) %>
      </header>
      <section class="content">
        <div class="container">
          <div class="row align-items-end justify-content-center py-3">
            <div class="col-12 col-md-10 col-lg-8 text-center">
              <h1 class="content__title">Бесплатный вебинар &laquo;19&nbsp;секретных кодов новой реальности&raquo;</h1>
              <p class="content__descr">Итак, давай&nbsp;же разберемся в&nbsp;важном вопросе&nbsp;&mdash; как как превратиться из&nbsp;человека, который вынужден тяжело работать, в&nbsp;того, кому везет. Видео доступно к&nbsp;просмотру ниже 👇👇👇</p>
                  
                              <%- include(subfolder + 'template-parts/_video2.ejs', {
        video: {
         title: 'Видео',
            videos: [
              'AHrl09cPWhk'
            ]
        }
      });  %> 
      <a href="/tripvaer" class="btn">Подробнее о MasterKit</a>
            </div>

            <div class="col-12 col-md-10 col-lg-7"><img src="/images/base/contact.jpg" alt=""></div>
          </div>

        </div>

      </section>
      <%- include(subfolder + 'template-parts/_footer.ejs') %>
    </div>
    <%- include(subfolder + 'template-parts/_scripts.ejs') %>
  </body>
</html>